# [Employee Handbook](../index.md)

## [Chapter 1. Employment](index.md)

### Section 1.3. Background Verification

1. All academic credentials provided will be verified

2. The company will confirm details of the relieving letter from one or more previous employers.
